<html>
 
<body>

    <h1>Hi</h1>
      <p id="de"></p>
       <script>

  var DEArray=  '<%- data %>';
  var array = JSON.parse("[" +JSON.stringify(DEArray)+ "]");

  var html="";
  for(i=0;i<array.length;i++)
  {
  
  if(array[i]==="Data Extensions")
  {
                  html += "<img style='vertical-align: middle;' src='https://lh3.googleusercontent.com/proxy/zh2kA5X56sycUcBgiodQPKMa_VrlbDnR9l5S-lMiTcsHPN6dVH4kwp0SZOIGdVl5DZh5FkGg4celS7HA1lhGEVIrZBVvLh7xzyAlPxEBZRxdrGPKh_cOQJDhXz_KfFVsczxItMiF0DyEApULNuo6YXE' width='35' height = '32'> " + array[i];

  }else
  {
   html+="<li>"+array[i]+"</li>";
   html+="<br>"
  }
   
  }

  document.getElementById("de").innerHTML=DEArray;
  
  </script>
</body>

</html>
