<html>
 
<body>

    <h1>Hi</h1>
      <p id="de"></p>
       <script>

  var DEArray=  '<%- JSON.stringify(data) %>'
  var html="";
  for(i=0;i<DEArray.length;i++)
  {
   if(i>0)
   {
       alert(DEArray[i])
   }
  }

  document.getElementById("de").innerHTML=DEArray;
  
  </script>
</body>

</html>
