<html>
  <script>

  var DEArray=  '<%- JSON.stringify(data) %>'
  alert(DEArray)
  document.getElementById("de").innerHTML=DEArray;
  
  </script>
<body>

    <h1>Hi</h1>
      <p id="de"></p>
</body>

</html>
