<html>
 
<body>

    <h1>Hi</h1>
      <p id="de"></p>
       <script>

  var DEArray=  '<%- data %>';
  var array = JSON.parse("[" + DEArray + "]");

  var html="";
  for(i=0;i<array.length;i++)
  {
   console.log(array[i])
   
  }

  document.getElementById("de").innerHTML=DEArray;
  
  </script>
</body>

</html>
